.App {
  background-color: #d3c2c9;
}
.Navbar {
  background-color: #2f4850;
  height: 10vh;
  z-index: 100;
}
.logo h1:hover {
  cursor: pointer;
}
.goals {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.goals::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.marzia {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.marzia::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.trackers {
  height: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.trackers .div1 {
  margin-top: 4rem;
  grid-area: 1 / 2 / 2 / 5;
}
.trackers .div2 {
  margin-top: 5rem;
  grid-area: 1 / 6 / 2 / 8;
}
.trackers .div3 {
  grid-area: 2 / 2 / 6 / 6;
}
.button1 {
  padding-left: 2rem;
}
